
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;600;700&display=swap');
 html,
 body,
 #root,
 .app,
 .content{
height: 100%;
width: 100%;
font-family: 'source Sans 3',sans-serif;

 }

 .app{
    display: flex;
    position: relative;
 }

 ::-webkit-scrollbar{
    width: 10px;
 }
 ::-webkit-scrollbar-track{
    background: #e0e0e0;
 }

 ::-webkit-scrollbar-thumb{
    background: #888;
 }
 ::-webkit-scrollbar-track:hover{
    background: #555;
 }

 .css-1t8x7v1 .ps-menu-button:hover
 {
   color :'#868dfb !important';
   background-color:'transparent !important';
 }


 .css-1t8x7v1 .ps-menu-button:active{
   color :' #6870fa !important';
}
